body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin: 20px 0;
}

form input {
    padding: 10px;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.addbtn
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 30%;
    left: 45%;
}
/* Media Queries for mobile devices */
@media (max-width: 768px) {
    .addbtn {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 30%;
    left: 40%;
}
}

form button {
    padding: 10px 50px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li form {
    display: inline;
}
